
header
    width: 100%;
    padding: 8px;
    background: linear-gradient(45deg, blueviolet, crimson);
    height: 350px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;

    h1
        font-size: 4rem;

        a
            color: white;
            text-decoration: none;

    p
        font-size: 1.5rem;

    
main 
    padding: 8px;

    .slideshow-container
        width: 80%;
        padding-bottom: 20px;
        margin: 25px auto;
        max-width: 1000px;
        background: #f8f8f8;
        position: relative;

        .slide 
            display: none;
            width: 100%;
            height: 100%;
            .item
                width: 100%;
                
            .text 
                color: yellow;
                font-size: 30px;
                padding: 8px 12px;
                text-align: center;
            
        

        .prev, .next 
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;                
            margin-top: -22px;
            padding: 16px;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        


        .next 
            right: 0;
            border-radius: 3px 0 0 3px;
        

        .prev:hover, .next:hover 
            background-color: rgba(0, 0, 0, 0.8);
        

    



    .slider 
        text-align: center;
        .dot 
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        

        .active, .dot:hover 
            background-color: #717171;
    

        .fade 
            -webkit-animation-name: fade;
            -webkit-animation-duration: 3s;
            animation-name: fade;
            animation-duration: 3s;
        

        @-webkit-keyframes fade 
            from {opacity: .4}
            to {opacity: 1}
        

        @keyframes fade 
            from {opacity: .4}
            to {opacity: 1}
        
    .grid-container
        margin-top: 30px;
        display: grid;
        grid-auto-rows: 400px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        grid-gap: 5px;

        div
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            text-align: center;
            border-radius: 10px;
            background: #f8f8f8;
            box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;

        div:hover
            box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);

        div.activity-date
            h2
                font-size: 2rem;
            p
                justify-self: center;
                
        div.twitter
            h2
                font-size: 2rem;
                margin-bottom: 50px;

            a