header
    width: 100%;
    padding: 8px;
    background: linear-gradient(45deg, blueviolet, crimson);
    height: 350px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;

    h1
        font-size: 4rem;

        a
            color: white;
            text-decoration: none;

    p
        font-size: 1.5rem;

    
main 
    padding: 8px;
    width: 100vw;

    div.slideshow-container
        width: 80%;
        height: 99%;
        padding-bottom: 20px;
        margin: 25px auto;
        max-width: 1000px;
        position: relative;
        background: #fbfbfb;
        transition: 1.0s;

        .slide 
            display: none;
            width: 100%;
            height: 50vw;
            max-height: 500px;
            position: relative;
            overflow-y: hidden;

            .item
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                min-height: 100%;
                min-width: 100%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            
            .text
                //text-indent: 100%;
                //white-space: nowrap;
                //overflow: hidden;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                vertical-align: center;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); 
                color: rgba(200, 200, 200, 0);
                background: rgba(0,0,0,0);
                font-size: 4rem;
                font-weight: bold;
                padding: 8px 12px;
                text-align: center;
                transition: 1.0s;

            .text:hover
                text-indent: 0;
                white-space: normal;
                overflow: hidden;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                vertical-align: center;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); 
                color: #eeeeee;
                background: rgba(0,0,0,0.4);
                font-size: 4rem;
                font-weight: bold;
                padding: 8px 12px;
                text-align: center;
            
        

        .prev, .next 
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;                
            margin-top: -22px;
            padding: 16px;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        


        .next 
            right: 0;
            border-radius: 3px 0 0 3px;
        

        .prev:hover, .next:hover 
            background-color: rgba(0, 0, 0, 0.8);
        

    div.slideshow-container:hover
        box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);


    .slider 
        text-align: center;
        .dot 
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            margin-top: 10px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        

        .active, .dot:hover 
            background-color: #717171;
    

        .fade 
            -webkit-animation-name: fade;
            -webkit-animation-duration: 3s;
            animation-name: fade;
            animation-duration: 3s;
        

        @-webkit-keyframes fade 
            from {opacity: .4}
            to {opacity: 1}
        

        @keyframes fade 
            from {opacity: .4}
            to {opacity: 1}
        
    .grid-container
        margin-top: 30px;
        display: grid;
        grid-auto-rows: 400px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        grid-gap: 5px;

        div
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            text-align: center;
            border-radius: 10px;
            transition: 1.0s;
            background: #fbfbfb;
            color: #545454;

        div:hover
            box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);

        div.activity-date
            h2
                font-size: 2rem;
            
            p
                justify-self: center;
                
        div.twitter
            h2
                font-size: 2rem;
                overflow: visible;
                margin-bottom: 50px;

            a