<header>
  <div class="top">
    <h1 class="title">LinuxClub</h1>
    <p>Official circle of Tokyo University of Technology</p>
  </div>
</header>
<main>
  <div class="slideshow-container">
    <div class="slide fade">
      <img class="item" src="assets/QandA.png" alt="Q&A" style="width: 100%">
      <div class="text">Q&A</div>
    </div>
    <div class="slide fade">
      <img class="item" src="assets/blog.png" alt="blog" style="width: 100%">
      <div class="text">部員ブログ</div>
    </div>
    <div class="slide fade">
      <img class="item" src="assets/clubmagazine.png" alt="LinuxClubMagazine" style="width: 100%">
      <div class="text">LinuxClubMagazine</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>

  <div class="slider">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
  </div>
</main>
<footer>
  
</footer>