<header>
  <div class="top">
    <h1 class="title crimson"><a href="#">LinuxClub</a></h1>
    <p class="lato">Official Circle of Tokyo University of Technology</p>
  </div>
</header>
<main>
  <div class="slideshow-container">
    <div [@currentNotCurrent]="isCurrent[0] ? 'current' : 'notCurrent'" class="slide fade">
      <img class="item" src="assets/img/QandA.jpg" alt="Photo by Kari Shea on Unsplash" style="width: 100%">
      <a href="http://www2.linux.it.teu.ac.jp/linux/faq.html"><div class="text crimson">Q&A</div></a>
    </div>
    <div [@currentNotCurrent]="isCurrent[1] ? 'current' : 'notCurrent'" class="slide fade">
      <img class="item" src="assets/img/blog.jpg" alt="Photo by Aaron Burden on Unsplash" style="width: 100%">
      <a href="https://lc-tut.github.io/"><div class="text crimson">部員ブログ</div></a>
    </div>
    <div [@currentNotCurrent]="isCurrent[2] ? 'current' : 'notCurrent'" class="slide fade">
      <img class="item" src="assets/img/magazine.jpg" alt="Photo by Jonas Jacobsson on Unsplash" style="width: 100%">
      <a href="http://www2.linux.it.teu.ac.jp/shinkan"><div class="text crimson">LinuxClubMagazine</div></a>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <div class="slider">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
    </div>
  </div>

  
  <div class="grid-container">
    <div class="activity-date">
      <h2 class="crimson">活動日</h2>
      <table class="table">
        <tr>
          <th>曜日</th>
          <th>活動場所</th>
          <th>活動時間</th>
        </tr>
        <tr>
          <td>火</td>
          <td>講義実験棟301</td>
          <td>18:30〜</td>
        </tr>
        <tr>
          <td>金</td>
          <td>講義実験棟306</td>
          <td>18:30〜</td>
        </tr>
      </table>
      <small>時間・場所は状況等により変わる場合があります。</small>
    </div>
    <div class="twitter">
      <h2 class="crimson">Twitter</h2>
      <p></p>
      <a class="twitter-timeline" data-width="80%" data-height="80%" data-theme="light" href="https://twitter.com/lc_tut?ref_src=twsrc%5Etfw">Tweets by lc_tut</a>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <a href="http://www2.linux.it.teu.ac.jp/linux/information.html" class="information lato">活動内容</a>
    <a href="http://www2.linux.it.teu.ac.jp/linux/contact.html" class="information lato">お問い合わせ</a>
    <a href="http://www2.linux.it.teu.ac.jp/linux/faq.html" class="information lato">よくある質問</a>
  </div>
</footer>